[Unit]
Description=Configure Spacefin for current user
ConditionUser=!@system

[Service]
Type=oneshot
ExecStart=/usr/local/bin/new-user-setup.sh

[Install]
WantedBy=default.target
