[Unit]
Description=Jednorázový skript pro čištění dočasných souborů

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak override io.github.kolunmi.Bazaar --filesystem=host-etc

[Install]
WantedBy=multi-user.target
