---
name: Build all container images
on:
  schedule:
    - cron: "05 10 * * *" # 10:05am UTC everyday
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-image-main:
    uses: ./.github/workflows/build-main.yml
    secrets: inherit

  build-image-gnome:
    needs: build-image-main
    uses: ./.github/workflows/build-gnome.yml
    secrets: inherit

  build-image-kde:
    needs: build-image-gnome
    uses: ./.github/workflows/build-kde.yml
    secrets: inherit
